$kaleb-purple:  #705E78;
$kaleb-yellow: #F3FEB0;
$kaleb-orange: #FEA443;
$kaleb-grey: #A5AAA3;
$kaleb-red: #812F33;

$primary: $kaleb-purple;
$secondary: $kaleb-grey;
$success: $kaleb-yellow;
$danger: $kaleb-red;
$warning: $kaleb-orange;