%nav.navbar.navbar-expand-lg.navbar-dark.bg-dark.sticky-top
  %div.container-fluid
    %a.navbar-brand{ href: '/' }
      %i.fas.fa-film.d-inline-block
      Kaleb's Movie Reviews
    %div.collapse.navbar-collapse
      %form.d-flex.ms-auto
        %button.btn.btn-sm.btn-outline-secondary.me-2
          Log In
        %button.btn.btn-sm.btn-primary
          Sign Up